/* ============================================== */
/* common */
/* ============================================== */
QWidget {
	background-color: transparent;
	border: none;
	color: #ffffff;
	font-size: 14px;
	font-family: arial;
}
/* ============================================== */
QPushButton {
	border: 2px solid #aaaaff;
	border-radius: 5px;
	padding: 10px;
}
QPushButton:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
QPushButton:pressed {
	background-color: transparent;
}
/* ============================================== */
QLineEdit {
	border: 2px solid #aaaaff;
	border-radius: 5px;
	padding: 9px;
}
/* ============================================== */
QScrollBar:horizontal {
    border-top: 5px solid transparent;
    background: transparent;
    height: 10px;
    margin: 0px 10px 0px 10px;
}
QScrollBar::handle:horizontal {
    background: rgba(255, 255, 255, 0.4);
    min-width: 10px;
}
QScrollBar::add-line:horizontal {
    border: none;
    background: transparent;
    width: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
    border: none;
    background: transparent;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}
QScrollBar:left-arrow:horizontal, 
QScrollBar::right-arrow:horizontal {
    border: none;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.4);
	margin-top: 5px;
}
QScrollBar::add-page:horizontal, 
QScrollBar::sub-page:horizontal {
    background: transparent;
}
/* ============================================== */
QScrollBar:vertical {
	border-left: 5px solid transparent;
	background: transparent;
	width: 10px;
	margin: 10px 0px 10px 0px;
}
QScrollBar::handle:vertical {
	background: rgba(255, 255, 255, 0.4);
	min-height: 10px;
}
QScrollBar::add-line:vertical {
	border: none;
	background: transparent;
	height: 10px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
	border: none;
	background: transparent;
	height: 10px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical, 
QScrollBar::down-arrow:vertical {
	border: none;
	width: 5px;
	height: 5px;
	background: rgba(255, 255, 255, 0.4);
	margin-left: 5px;
}
QScrollBar::add-page:vertical, 
QScrollBar::sub-page:vertical {
	background: transparent;
}
/* ============================================== */
/* special */
/* ============================================== */
QPushButton#button_icon {
	border: 2px solid #aaaaff;
	padding-right: 50px;
}
QPushButton#button_icon:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
QPushButton#button_icon:pressed {
	background-color: transparent;
}
QPushButton#button_icon_icon,
QPushButton#button_icon_icon:hover,
QPushButton#button_icon_icon:pressed {
	border: none;
	background-color: transparent;
	padding: 0px;
}
/* ============================================== */
QPushButton#button_icon_round {
	border: 2px solid #aaaaff;
	width: 30px;
	height: 30px;
	border-radius: 17px;
	padding: 0px;
}
QPushButton#button_icon_round:hover {
	background-color: rgba(255, 255, 255, 0.4);
}
QPushButton#button_icon_round:pressed {
	background-color: transparent;
}
/* ============================================== */
QPushButton#plan_button_title,
QPushButton#plan_button_title:hover,
QPushButton#plan_button_title:pressed {
	border: none;
	background-color: transparent;
	padding: 0px;
}
/* ============================================== */
QLineEdit#lineedit_icon {
	padding-left: 30px;
}
QPushButton#lineedit_icon_icon,
QPushButton#lineedit_icon_icon:hover,
QPushButton#lineedit_icon_icon:pressed {
	border: none;
	background-color: transparent;
	padding: 0px;
}
/* ============================================== */
QFrame#plan_box {
	border: 2px solid #aaaaff;
	border-radius: 5px;
	min-width: 200px;
	max-width: 200px;
	min-height: 105px;
	max-height: 105px;
}
/* ============================================== */
/* custom */
/* ============================================== */
QFrame#plan {
	background-color: #111111;
}
/* ============================================== */
QFrame#plan_search {
	border: 2px solid #aaaaff;
	border-radius: 5px;
	max-width: 0px;
}
/* ============================================== */
